body {
  background-color: #BAE8E8;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: yellow;}

.notfirst:hover {
    background-color: white;
}

.bigletter{
color: black;
text-align: center;
padding-left: 600px;
padding-right: 600px;
background-color: white;
opacity: 1;

}