{%- extends "layouts/master_layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{super()}}

<style>
body {
background-repeat: :norepeat;
background=atatched: fixed;
background-size: cover;
opacity: 0.8;
background-image:url({{url_for('static',filename='image/msuiitccs.png')}})
}
.control-label {display: none;}
</style>

<div class="topnav" style="opacity: 1;">
<a href="/viewstudents"> <button style="borderline: None; color: black;"> <h5> Click here to View Students</h5></button> </a>
<a href="/viewcourses"> <button style="borderline: None; color: black;"> <h5> Click here to View Courses</h5></button> </a>
<a class="active" href="/viewcolleges"> <button style="borderline: None; color: black;"> <h5> Click here to View Colleges</h5></button> </a>
</div>
<h1 class="bigletter" style="margin-left:650px; margin-right:300px; padding-left: 10px;padding-right: 90px;">SSIS</h1>
<h1> </h1>

<div class="center" style="padding-left: 400px; padding-right: 400px">
   <button onclick="window.location.href='/viewcolleges/addcollege';">Add College</button>
<button onclick="window.location.href='/';">To Index</button>
<h1> </h1>
   <h1> </h1>
   <form class="form" method="post" role="form" style="padding-right:0px; border: 1px solid black;
      border-radius:25px; background-color: powderblue; margin-right:350px;" >
      <div style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
      {{ form.hidden_tag() }}
      <span style="width:70% !important;">{{ wtf.form_errors(form, hiddens="only") }}</span>
      <div style="margin-right:50px; opacity:1;"><h4 style="font-weight: bold;">Search</h4>{{ wtf.form_field(form.searchbar) }}</div>
      <div><input class="btn btn-default" id="submit" name="submit" type="submit" value="Search"></div>
      </div>
   </form>
<h1> </h1>
   <h1> </h1>
<div class="table-responsive" id="content">
   <table>

      <tr class="notfirst">
         <th>College Code</th>
         <th>College Name</th>
         <th></th>
      </tr>

   <tbody>
   {% for college in data %}
   <tr>
      <td>{{college[0]}}</td>
      <td>{{college[1]}}</td>
      <td>
         <span><div class="btn btn-primary btn-edit" data-id="{{college[0]}}"><ion-icon name="create-outline"></ion-icon> </div></span>
         <div class="btn btn-primary btn-delete" data-id="{{college[0]}}"><ion-icon name="trash-outline"></ion-icon></div>
      </td>
   </tr>
      {% endfor %}
   </tbody>
   </table>


</div>
</div>

{%- endblock %}
{% block scripts%}
{{super()}}
<script>
   var url = "{{ url_for('.deletecollege') }}";
   var urledit = "{{ url_for('.editcollege') }}"
</script>
<script src="{{ url_for('static',filename='js/index.js')}}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}